body, html{
  height:100%;
}
body{
  margin: 0;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  content: url("img/smooch.gif");
  position:absolute;
}
.jumpy{
  border: 0;
  content: url("img/bouncing-dog.gif");
  width: 100px;
  height: 100px;
}
.growing{
  content: url("img/dancing-banana.gif");
}

.lineUpButton{
  padding:5px 12px;
  float:right;
}
